* {
  margin: 0px;
  padding: 0px;
}

#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}
.headerTitle {
  /* font-family: 'Playfair Display', serif; */
  font-family: "Poppins", sans-serif;
  color: rgb(5, 69, 71) !important;
  font-size: 40px;
  font-weight: bolder;
}

.HeaderTop {
  display: flex;
  flex-direction: row;
  /* padding-right: 120px; */
  justify-content: space-around;
}
.dropdown-toggle {
  width: 225px;
}
.force-scroll {
  padding: 0px;
  margin: 0px;
  overflow-y: scroll;

  height: 300px;
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.homepageDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 4px;
  text-align: center;
  padding: 4px 10px;
  background-color: aliceblue;
}
.form-selects {
  border: 1px solid black;
  border-radius: 1%;
  padding: 1px;
}

.form-selects {
  width: 200px;
}

.heilightedText {
  font-weight: bold;
}
.column1 {
  margin: 10px;
  margin-top: 40px !important;
}

.lineGraph {
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  width: 50%;
  margin-left: 10px;
  height: 250px;
  padding: 5px !important;
  box-shadow: 5px 10px #dfdcdc;
  background-color: rgb(212, 243, 245);
}
.PIECHART {
  display: block;
  width: 120px;
  box-shadow: 5px 10px #dfdcdc;
  background-color: rgb(212, 243, 245);
}
/* .{
color: #eded3c;
} */
.SearchBar {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.SearchBar h5 {
  padding-top: 7px;
  padding-right: 10px;
}

.container {
  height: 50vh;
}

.upperSideBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  padding: 10px 0px;
  background-color: aquamarine;
  margin-bottom: 5px;
}